<div class="admin">
    <div class="form">

        <div class="alert alert-danger" [hidden]="!error">
            {{error}}
        </div>

        <div class="login">
            <h2>ADMIN LOGIN</h2>
        </div>
        
        <form class="input-logtxt" (ngSubmit)="onSubmit()"> 
            <input type="email" class="input-field" name="email" placeholder="Email" [(ngModel)]="Userform.email" required>
            <input type="password" class="input-field" name="password" placeholder="Password" [(ngModel)]="Userform.password" required>
            <button type="submit" class="submit-btn" >Login</button>
        </form>
    </div>  
</div>
