<app-adminnavbar></app-adminnavbar>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <app-adminsidenav></app-adminsidenav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Dashboard</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-header"><i class="fas fa-table mr-1"></i>Reservation Made</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>PhoneNo</th>
                                        <th>Venue</th>
                                        <th>Venue Date</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>PhoneNo</th>
                                        <th>Venue</th>
                                        <th>Venue Date</th>
                                        <th>Description</th>
                                    </tr>
                                </tfoot>
                                <tbody *ngFor="let n of lstofreservations">
                                    <tr>
                                        <td>{{ n.name }}</td>
                                        <td>{{ n.email }}</td>
                                        <td>{{ n.phoneNo }}</td>
                                        <td>{{ n.venue }}</td>
                                        <td>{{ n.dateTime }}</td>
                                        <td>{{ n.description }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header"><i class="fas fa-table mr-1"></i>Complaint Received</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>PhoneNo</th>
                                        <th>Subject</th>
                                        <th>Complaint</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>PhoneNo</th>
                                        <th>Subject</th>
                                        <th>Complaint</th>
                                    </tr>
                                </tfoot>
                                <tbody *ngFor="let n of lstofcomplaints">
                                    <tr>
                                        <td>{{ n.name }}</td>
                                        <td>{{ n.email }}</td>
                                        <td>{{ n.phoneNo }}</td>
                                        <td>{{ n.subject }}</td>
                                        <td>{{ n.complaint }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <app-adminfooter></app-adminfooter>
    </div>
</div>

