<!-- Templates from https://startbootstrap.com/templates/full-width-pics/ -->

<app-navbar></app-navbar>
<div id="home" style="text-align:center;">
  <!-- Header - set the background image for the header in the line below -->
  <!-- https://unsplash.it/1900/1080?image=1076 -->
  <header class="py-5 bg-image-full" style="background-image: url('https://i.pinimg.com/originals/3f/b5/f0/3fb5f0c6f03e0d89931963419d3e06a6.jpg');">
    <img src="https://i.pinimg.com/750x/32/5d/95/325d959e1ff43697ce34ffe5ed6bb78f.jpg" alt="Logo" height="200" weight="100">
  </header>

  <!-- Content section -->
  <section class="py-5" *ngFor="let n of lstofnews">
    <div class="card-body">
      <h2>{{ n.title }}</h2>
      <p class="card-text">{{ n.paragraph }}</p>
    </div>
    <div class="card-footer text-muted">
      Posted on {{ n.postDate }}
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>
</div>